.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #222;
  color: #fff;
  width: 100%; 
  box-sizing: border-box; 
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover {
  color: #f39c12;
}