/* Footer.css */
.footer {
  text-align: center;
  padding: 15px;
  background: #222;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer span {
  font-weight: bold;
  color: #1abc9c;
}