.footer {
  text-align: center;
  padding: 6px 10px;        
  background: #222;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 13px;          
  line-height: 1.7;        
}

.footer p {
  margin: 2px 0;            
}

.footer span {
  font-weight: 600;    
  color: #1abc9c;
}
