body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  padding: 0;
}


button {
  width: 100%;
  padding: 14px;
  background: #1abc9c; 
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
}

button:hover {
  background: #16a085;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
